/* ================== GOOGLE FONT ================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

/* ================== CSS VARIABLE ================== */
:root {
  /* ------ colors ------ */
  --primary-color: hsl(200, 64%, 22%);
  --primary-alt-color: hsl(200, 64%, 15%);
  --title-color: hsl(200, 64%, 18%);
  --text-color: hsl(200, 24%, 35%);
  --text-color-light: hsl(200, 8%, 60%);
  --white-color: hsl(200, 100%, 100%);
  --body-color: hsl(200, 100%, 99%);
  --scroll-bar-color: hsl(200, 12%, 90%);
  --scroll-thumb-color: hsl(200, 12%, 75%);
  --input-color: hsl(200, 24%, 97%);

  /* ------ font size ------ */
  --biggest-font: 2.5rem;
  --h1-font: 1.5rem;
  --h2-font: 1.25rem;
  --h3-font: 1rem;
  --normal-font: 0.938rem;
  --small-font: 0.813rem;
  --smaller-font: 0.75rem;

  /* ------ font family ------ */
  --Open-Sans: "Open Sans", sans-serif;
  --Raleway: "Raleway", sans-serif;

  /* ------ font weight ------ */
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --bolder: 800;

  /* ------ margenes/paddings ------ */
  --x-0-25: 0.25rem;
  --x-0-5: 0.5rem;
  --x-0-75: 0.75rem;
  --x-1: 1rem;
  --x-1-25: 1.25rem;
  --x-1-5: 1.5rem;
  --x-1-75: 1.75rem;
  --x-2: 2rem;
  --x-2-5: 2.5rem;

  /* ------ z-index ------ */
  --z-10: 10;
  --z-100: 100;

  /* ------ transition ------ */
  --transition: 0.4s;

  /* ------ images hidden, scale ------ */
  --img-hidden: hidden;
  --img-scale: scale(1.1);

  /* ------ header height ------ */
  --header-height: 3.5rem;
}
@media screen and (min-width: 968px) {
  :root {
    /* ------ font size ------ */
    --biggest-font: 4rem;
    --h1-font: 2.25rem;
    --h2-font: 1.75rem;
    --h3-font: 1.25rem;
    --normal-font: 1rem;
    --small-font: 0.875rem;
    --smaller-font: 0.813rem;
  }
}

/* ================== DARK THEME VARIABLE ================== */

body.dark--theme {
  --primary-alt-color: hsl(200, 54%, 12%);
  --title-color: hsl(200, 24%, 95%);
  --text-color: hsl(200, 8%, 75%);
  --body-color: hsl(200, 29%, 12%);
  --scroll-bar-color: hsl(200, 12%, 48%);
  --scroll-thumb-color: hsl(200, 12%, 36%);
  --input-color: hsl(200, 29%, 16%);
}
/* Change background header in Dark mood */
body.dark--theme .scroll-header {
  background-color: var(--primary-alt-color);
}
body.dark--theme .scroll-header .nav__mood--icon {
  color: var(--white-color);
}
body.dark--theme .scroll-header .nav__text {
  color: var(--white-color);
}
/* Header Logo Change in Dark mood */
body.dark--theme .scroll-header .logo .dark--logo {
  display: none;
}
body.dark--theme .scroll-header .logo .white--logo {
  display: block;
}
body.dark--theme .nav__icon {
  color: var(--white-color);
}
/* ================== BASE CSS ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--Open-Sans);
  font-size: var(--normal-font);
  margin: var(--header-height) 0 0 0;
}
h1,
h2,
h3 {
  /* color: var(--title-color); */
  font-weight: var(--semi-bold);
  font-family: var(--Raleway);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
input {
  border: none;
  font-family: var(--Open-Sans);
  font-size: var(--normal-font);
}
button {
  cursor: pointer;
}
input {
  outline: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}
/* ================== REUSEABLE CSS ================== */
.section {
  padding: 5.5rem 0 2.5rem;
}
.section__title {
  font-size: var(--h2-font);
  color: var(--title-color);
  text-transform: capitalize;
  margin-bottom: var(--x-2);
  text-align: center;
}
.container {
  max-width: 960px;
  margin-left: var(--x-1);
  margin-right: var(--x-1);
}
.grid {
  display: grid;
  gap: 1.5rem;
}

/* ================== BUTTONS CSS ================== */
.button {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  color: var(--white-color);
  font-weight: var(--semi-bold);
  transition: var(--transition);
}
.button:hover {
  background-color: var(--primary-alt-color);
}
.button--flex {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.button--link {
  padding: 0;
  background: none;
}
.button--link:hover {
  background: none;
}
/* ================== HEADER ================== */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: var(--z-100);
  padding: 0.5rem 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}
.logo {
  width: 75px;
}
.logo .dark--logo {
  display: none;
}
.nav__mood--icon {
  font-size: var(--h3-font);
  font-weight: var(--normal-font);
  cursor: pointer;
  color: var(--white-color);
}
/* For small, medium devices */
@media screen and (max-width: 767px) {
  .header {
    padding: 0;
  }
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -1px 12px hsla(210, 2%, 36%, 0.15);
    width: 100%;
    height: var(--header-height);
    display: none;
    align-content: center;
    border-radius: 10px 10px 0 0;
    z-index: var(--z-100);
    background: var(--white-color);
  }

  .show-navMenu {
    display: grid;
  }
  .show-navMenu .nav__link {
    color: var(--primary-color);
  }
  /* Change mobile nav in Dark mood */
  body.dark--theme .nav__menu {
    background-color: var(--primary-alt-color);
  }
}
.nav__item {
  position: relative;
}
.nav__list,
.nav__link {
  display: flex;
}
.nav__list {
  justify-content: space-around;
}
.nav__link {
  flex-direction: column;
  align-items: center;
  font-weight: var(--semi-bold);
  row-gap: 4px;
  transition: var(--transition);
}
.nav__icon {
  font-size: var(--h2-font);
}
.nav__text {
  font-size: var(--smaller-font);
  color: var(--white-color);
}

/* Nav Link Hover */
.nav__link:hover {
  color: var(--primary-alt-color);
}
/* Change background header */
.scroll-header {
  background-color: var(--white-color);
  box-shadow: 0 -1px 12px hsla(200, 50%, 15%, 0.15);
}
.scroll-header .nav__mood--icon {
  color: var(--primary-color);
}
.scroll-header .nav__text {
  color: var(--primary-color);
}
/* Header Logo Change  */
.scroll-header .logo .dark--logo {
  display: block;
}
.scroll-header .logo .white--logo {
  display: none;
}

/* ================== HOME ================== */
.home__image {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: 83%;
}
.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}
.home__content,
.home__social--link,
.home__info,
.button {
  color: var(--white-color);
}

.home__content--subtitle {
  font-weight: var(--semi-bold);
  margin-bottom: var(--x-0-75);
  display: block;
}
.home__content--title {
  margin-bottom: var(--x-2-5);
  font-size: var(--biggest-font);
  font-weight: var(--medium);
}
.home__social {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.home__social--link {
  font-size: var(--h3-font);
  width: max-content;
}
.home__info {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  bottom: 1rem;
  padding: 1.5rem 1rem;
  width: 228px;
}
.home__info--title {
  display: block;
  font-size: var(--small-font);
  font-weight: var(--semi-bold);
  margin-bottom: var(--x-0-75);
}
.home__info--button {
  font-size: var(--small-font);
}
.home__info--overlay {
  overflow: var(--img-hidden);
}
.home__info--image {
  width: 125px;
  transition: var(--transition);
}
.home__info--image:hover {
  transform: var(--img-scale);
}

/* ================== ABOUT ================== */
.about__container {
  row-gap: 2.5rem;
}
.about__content {
  text-align: center;
}
.about__description {
  margin-bottom: var(--x-2);
}
.about__images {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
.about__img--overlay {
  overflow: var(--img-hidden);
}
.about__img--one {
  width: 130px;
}
.about__img--two {
  width: 180px;
}
.about__img--one,
.about__img--two {
  transition: var(--transition);
}
.about__img--one:hover,
.about__img--two:hover {
  transform: var(--img-scale);
}

/* ================== DISCOVER ================== */
.discover__card {
  position: relative;
  width: 220px;
  overflow: var(--img-hidden);
}
.discover__card--content {
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
}
.discover__card--title,
.discover__card--description {
  color: var(--white-color);
}
.discover__card--title {
  font-size: var(--h3-font);
  margin-bottom: var(--x-0-25);
}
.discover__card--description {
  display: block;
  font-size: var(--smaller-font);
}
.discover__card--image {
  transition: var(--transition);
}
.discover__card--image:hover {
  transform: var(--img-scale);
}

/* ================== EXPERIENCE ================== */
.experince__container {
  justify-content: center;
  justify-items: center;
  row-gap: 2.5rem;
}
.experience__content {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-items: center;
  padding: 0 2rem;
}
.experience__number {
  font-size: var(--h2-font);
  font-weight: var(--semi-bold);
  margin-bottom: var(--x-0-25);
}
.experience__description {
  font-size: var(--small-font);
}
.experience__image {
  position: relative;
  padding-bottom: 2rem;
}
.experience__img--overlay {
  overflow: var(--img-hidden);
}
.experience__img--overlay:nth-child(1) {
  width: 263px;
  margin-right: 2rem;
}
.experience__img--overlay:nth-child(2) {
  width: 120px;
  position: absolute;
  right: 0;
  top: 2rem;
}
.experience__img--one,
.experience__img--two {
  transition: var(--transition);
}
.experience__img--one:hover,
.experience__img--two:hover {
  transform: var(--img-scale);
}

/* ================== VIDEO ================== */
.video__container {
  padding-bottom: 1rem;
}
.video__description {
  text-align: center;
  margin-bottom: var(--x-2-5);
}
.video__content {
  position: relative;
}
.video__button {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  padding: 1rem 1.5rem;
}
.video__button--icon {
  font-size: 1.3rem;
}

/* ================== PLACES ================== */
.place__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
}
.place__card {
  overflow: var(--img-hidden);
  position: relative;
}
.place__card,
.place__image {
  height: 230px;
}
.place__image {
  transition: var(--transition);
}
.place__card:hover .place__image {
  transform: var(--img-scale);
}
.place__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--white-color);
  padding: 0.75rem 0.75rem 1rem;
}
.place__rating {
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.place__rating--icon {
  font-size: 0.75rem;
  margin-right: var(--x-0-25);
}
.place__rating--number {
  font-size: var(--small-font);
}
.place__data-title {
  font-size: var(--h3-font);
  margin-bottom: var(--x-0-25);
}
.place__data--subtitle {
  font-size: var(--smaller-font);
  margin-bottom: var(--x-1-25);
  display: block;
}
.place__button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.75rem 1rem;
}

/* ================== SUBSCRIBE ================== */
.subscribe__bg {
  background-color: var(--primary-color);
  padding: 2.5rem 0;
}
.subscribe__title,
.subscribe__description {
  color: var(--white-color);
}
.subscribe__description {
  text-align: center;
  margin-bottom: var(--x-2-5);
}
.subscribe__form {
  background-color: var(--input-color);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.subscribe__input {
  width: 70%;
  color: var(--text-color);
  background-color: var(--input-color);
  font-weight: var(--semi-bold);
}

/* ================== SUBSCRIBE ================== */
.sponsor__container {
  justify-items: center;
  row-gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}
.sponsor__image {
  width: 90px;
  filter: invert(0.7);
  transition: var(--transition);
  cursor: pointer;
}
.sponsor__content:hover .sponsor__image {
  filter: invert(0.5);
}

/* ================== FOOTER ================== */
.footer__container {
  row-gap: 5rem;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-weight: var(--semi-bold);
  font-size: var(--h3-font);
  color: var(--title-color);
}
.footer__title,
.footer__subtitle {
  font-size: var(--h3-font);
}

.footer__title {
  margin-bottom: var(--x-0-5);
}

.footer__description {
  margin-bottom: var(--x-2);
  margin-top: var(--x-1);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--x-1-25);
}

.footer__subtitle {
  margin-bottom: var(--x-1);
}

.footer__item {
  margin-bottom: var(--x-0-75);
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer__copy,
.footer__terms-link {
  font-size: var(--small-font);
  color: var(--text-color-light);
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

.footer__terms-link:hover {
  color: var(--text-color);
}

/* ================== SCROLL UP ================== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--primary-color);
  padding: 0.5rem;
  display: flex;
  opacity: 0.9;
  z-index: var(--z-10);
  transition: var(--transition);
}

.scrollup:hover {
  background-color: var(--primary-alt-color);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

/* Show scroll */
.show--scroll {
  bottom: 5rem;
}

/* ================== SCROLL BAR ================== */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}
/* ================== MEDIA QUERIES ================== */
/* For Small Devices */
@media screen and (max-width: 320px) {
  .nav__text {
    display: none;
  }
  .home__info {
    width: 190px;
    padding: 1rem;
  }
  .experience__content {
    padding: 0;
  }
  .experience__img--overlay:nth-child(1) {
    width: 190px;
  }
  .experience__img--overlay:nth-child(2) {
    width: 80px;
  }
  .experience__image,
  .video__container {
    padding: 0;
  }
}

/* Place Image Problem Fix */
@media screen and (max-width: 360px) {
  .place__container {
    grid-template-columns: max-content;
  }
}

/* For Medium Devices */
@media screen and (min-width: 576px) {
  .container {
    margin-left: var(--x-1-75);
    margin-right: var(--x-1-75);
  }
  .logo {
    width: 85px;
  }
  .nav__list {
    justify-content: center;
    column-gap: 4rem;
  }

  .home__social {
    flex-direction: row;
    column-gap: 1.5rem;
    margin-bottom: var(--x-2-5);
    align-self: flex-end;
  }
  .home__info {
    margin-bottom: var(--x-2-5);
  }
  .video__container {
    display: grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
  }
  .place__container {
    grid-template-columns: repeat(3, max-content);
  }
  .subscribe__form {
    width: 470px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2rem;
  }
  .logo {
    width: 90px;
  }
  .nav__icon {
    display: none;
  }
  .nav__list {
    column-gap: 2.5rem;
  }
  .nav__text {
    font-size: var(--small-font);
  }
  .home__container {
    grid-template-rows: 1.8fr 0.5fr;
  }
  .home__content {
    align-self: flex-end;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__content,
  .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: var(--x-1-5);
  }
  .discover__container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
  }
  .experience__img--overlay:nth-child(1) {
    width: 363px;
    margin-right: 4rem;
  }
  .experience__img--overlay:nth-child(2) {
    width: 160px;
  }
  .video__container {
    grid-template-columns: 0.9fr;
  }
  .video__description {
    padding: 0 7rem;
  }
  .place__container {
    padding-top: 2rem;
  }
  .subscribe__bg {
    background: none;
    padding: 0;
  }
  .subscribe__container {
    padding: 3.5rem 0;
    background-color: var(--primary-alt-color);
  }
  .subscribe__input {
    padding: 0 0.5rem;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* For Large Devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    grid-template-rows: 2fr 0.5fr;
  }
  .about__img--one {
    width: 230px;
  }
  .about__img--two {
    width: 280px;
  }
  .discover__container {
    width: 700px;
  }
  .discover__card {
    width: 237px;
  }
  .discover__card--content {
    left: 1.5rem;
    bottom: 2rem;
  }
  .discover__card--title {
    font-size: var(--h2-font);
  }
  .experience__content {
    column-gap: 3.5rem;
    margin: 1rem 0;
  }
  .experience__img--overlay:nth-child(1) {
    width: 463px;
    margin-right: 7rem;
  }
  .experience__img--overlay:nth-child(2) {
    width: 220px;
    top: 3rem;
  }
  .video__container {
    grid-template-columns: 1;
  }
  .video__description {
    padding: 0 8rem;
  }
  .place__container {
    gap: 3rem 2rem;
  }
  .place__card,
  .place__image {
    height: 260px;
  }
  .footer__content {
    justify-items: center;
  }
}
